{% extends 'base.html' %}


{% block main %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Documentação Objetos de aprendizagem</h1>
    <p class="mb-4">Os objetos de aprendizagem (OAs) integram uma tecnologia utilizada para construir materiais
        didáticos na Web, nela criando diversos componentes, os objetos, que tem a possibilidade de reutilização em
        diferentes contextos institucionais. Os Objetos de Aprendizagem, como são conhecidos atualmente, tornaram-se
        populares por este termo em 1994, cuja proposta original era descrever os materiais de aprendizagem que eram
        criados de forma independente, de uma maneira que estes pudessem combinar-se com outros objetos.</p>

    <div class="card mb-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Geral</h2>

            <div>Esta categoria agrupa
                informações gerais que descrevem este
                objeto de aprendizagem como um todo.
            </div>
        </div>
    </div>
    <p class="mb-4"><b>Identificador: </b> Rótulo global e único que
        identifica o objeto.
    <p class="mb-4 ml-2"><b>Catalogo: </b> Nome do designador de identificação ou catalogação para a entrada.
    <p class="mb-4 ml-2"><b>Entrada: </b> Valor do designador ou
        identificador do objeto.
    <p class="mb-4"><b>Título: </b> Nome do objeto de aprendizagem
    <p class="mb-4"><b>Idioma: </b> Linguagem apresentada
    <p class="mb-4"><b>Descricao: </b> Descrição textual do
        conteúdo
    <p class="mb-4"><b>Palavra chave: </b> Palavra-chave ou frase que descreve
        o assunto discutido
    <p class="mb-4"><b>Cobertura: </b> O tempo, cultura, geografia ou
        região para a qual o objeto se aplica.
    <p class="mb-4"><b>Estrutura: </b> Estrutura organizacional subjacente
    <p class="mb-4"><b>Nível de agregação: </b> Granularidade funcional
    <p class="mb-4"><b>Subnível de agregação: </b> Nível adicional de detalhe
    <p class="mb-4"><b>Outros termos: </b> Coleção de valores semanticamente equivalentes de diferentes usuários e
        ambientes
    <p class="mb-4"><b>Termo: </b> Um único termo esclarecedor mapeado de um contexto específico




        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Ciclo de vida</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Meta Metadados</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Dados Técnicos</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Aspectos Educacionais</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Direitos</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Relações</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Anotações</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Classificação</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <h2 class="h4 mb-1 mb-2 text-gray-800">Conteúdo</h2>
    
                <div>Pendente
                </div>
            </div>
        </div>



</div>
{% endblock %}